.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Adicionado para centralizar verticalmente */
    text-align: center;
    padding-top: 4rem; /* Aumentei o padding para mais espaçamento */
    padding-bottom: 4rem; /* Aumentei o padding para mais espaçamento */
}

.contato__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 2rem; /* Aumentei o tamanho do título para mais destaque */
    font-family: var(--montserrat);
    text-transform: uppercase;
    margin-bottom: 2rem; /* Aumentei a margem inferior para mais espaçamento */
}

.contato__botao {
    display: inline-block;
    padding: 1rem 2rem; /* Adicionei padding para melhorar o espaço ao redor do botão */
    color: var(--branco);
    background-color: var(--cinza-escuro);
    border: 2px solid var(--cinza-escuro);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 2rem; /* Aumentei o espaço acima do botão */
}

.contato__botao:hover {
    background-color: var(--cinza-escuro-hover); /* Defina a cor de hover desejada */
    color: var(--branco); /* Defina a cor de texto de hover desejada */
}
