.habilidades__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.habilidades__topicos {
    align-items: center;
    padding-inline: 80px;
}

.habilidades {
    text-align: center;
}

.habilidades__titulo {
    border-bottom: 2px solid transparent;
    display:inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 48px;
    color: var(--branco-principal);
    transition: 2s;
    
}

.habilidades__titulo:hover {
    border-color: white;
}

.habilidades__img {
    align-items: center;
    height: 180px;
    width: 180px;
}

.lista__item {
    font-size: 32px;
}
