.descricao__titulo {
    border-bottom: 2px solid transparent;
    color: var(--branco-principal);
    display:inline-block;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
    transition: 2s;
    text-decoration: none;
    text-align: left;
    
 }

 .descricao__titulo:hover {
    border-color: white;
 }

 .descricao__texto {
    color: var(--cinza-secundario);
    font-size: 120%;
    padding-bottom: 12px;
 }

    .secundario__botao {
        display: inline-block;
        margin-top: 1em;
    }
    
.container__descricao {
        padding: 2em;
    }
    
    
    .Projetos__titulo {
        color: var(--branco-principal);
        font-size: 48px;
        text-align: center;
        text-decoration: none;
        transition: 2s;
        
        
    }

    .Projetos__titulo:hover {
        border-color: white;
    }
    