.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-rodape);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.rodape__social {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.rodape__midia {
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 1rem;
    transition: transform 0.3s ease;
}

.rodape__midia:hover {
    transform: scale(1.2);
}

.rodape__logo {
    width: 250px; /* Reduzindo um pouco o tamanho para melhor encaixe */
    height: auto;
    margin-bottom: 1.5rem;
}

.rodape__navegacao {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.rodape__link {
    font-size: 1rem;
    margin: 0 1rem;
    transition: font-size 0.3s ease, color 0.3s ease;
    color: var(--branco);
    text-decoration: none;
}

.rodape__link:hover {
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .rodape {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .rodape__social {
        margin-top: 0;
    }

    .rodape__navegacao {
        margin-top: 0;
    }
}
